body{
    background-color: black;
}

ul {
    list-style-type: none;
}

.topnav {
    float:right;
    display:flex;
}

#sb {
    background-color:rgb(255,193,92);
    border:none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;  
}



.icons {
    font-size: large;
}

/* Search bar button*/
#sbb {
    background-color:rgb(255,193,92);
    border:none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;  
    height: 35px;
}



.btn {
    background-color: black;
    color: black;
    font-size: larger;
    border: none;  
}  

/*profile button*/
#user {
    background-color: black ;
}

.btn a{
    color: black;
}

.icons {   
    background-color: rgba(53, 22, 3,0.5);
    border:none;
    color:rgb(255, 193, 92);
}

.a:link {
    color: rgb(255,193,92);
}

/*navigation bar*/
nav {
    margin-top: -35px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: rgba(53, 22, 3,0.5);   
}

/*navigation bar list*/
li {
    display:inline-block;
    text-align: center;
    padding:5px 70px ;
    box-shadow: white;
}

li a {
    color:rgb(255, 193, 92);
    text-decoration:solid;    
}

/*navigation categories*/
.categories:hover  {
    box-shadow: 0px 0px 5px 5px  rgba(175, 119, 82, 0.925);
    cursor: pointer;
    color:black;   
}

/*logo oof the shop*/
#logo {
    width: 70px;
    height: 70px;
    display: block;
    margin-left:40%;
    margin-right: 50%;
    margin-top: 2px;
    clip-path: circle(50%);
    position:relative;
    left:120px;
}

/*menu dropdown*/
.dropdown {
    position:relative;
    display: inline-block;
}

/*content of the dropdown*/
.dropdown-content{
    display:none;
    position:absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px white;
    z-index: 1;
    padding-right: 0px;
    padding-left: 0px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;   
}

.dropdown-content a:hover {
    background-color: rgba(175, 119, 82, 0.925);   
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*hamburger button*/
.more {
    position: relative;
    display: inline-block;
}

/*dropdown for more button*/
.more-dropdown{
    display:none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px white;
    z-index: 1;
    right: 10%;
}

.more-dropdown a {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.more-dropdown a:hover {
    background-color: rgba(175, 119, 82, 0.925);
}

.more:hover .more-dropdown {
    display: block;
}

/*cart items count*/
.cartIcon{
    font-size:15px;
    display: flex;
    width: 20px;
    height: 20px;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: rgb(255, 193, 92);
    border-radius: 50%;
    position: absolute;
    top: 4%;
    right: 6%;
    border-color: rgb(255, 193, 92) ;
    border: 1px solid;
}

div {
    display:flex;
    justify-content: center;
    
}

/*name of the shop*/
#name {
    color:rgb(255,165,109);
    font-size:xx-large;
    font-family:'Times New Roman', Times, serif;
}




/*-----------------------------------------------------------*/

/*heading of the cart*/
.h1{
    color: aliceblue;
    font-family: 'Poppins';
}

.bagTab{
    display: none;
}

.bagTab .showBag{
    display: block;
}

/*cart tab*/
.bagTab{
    float: right;
    margin-top: 8.5%;
    width: 400px;
    background-color: aliceblue;
    position: fixed;
    top: 0%;
    bottom: 0%;
    right: -400px;
    grid-template-rows: 70px 1fr 70px;
    transition: 1s;
    overflow: auto;
}   

body.showBag .bagTab{
    top: 0%;
    bottom: 0%;
    right: 0%;
}

body.showBag .container{
    transform:translateX(-250px);
}

/*items of the cart*/
#item{
    padding: 20px;
    border-radius: 20px;
    color: white;
    font-family: "Poppins";
}


#price{
    letter-spacing: 5px;
    font-size: medium;
}

.bagTab h1{
    color:black;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    font-family: "Poppins";
    
}

.bagList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

.bagTab .bagBtn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: none;
    font-family: "Poppins";
    font-weight: 500;
    cursor: pointer;
    margin-top: auto;
}

/*checkout button in cart*/
.bagTab .bagBtn .checkOut{
    background-color: rgba(161, 92, 49, 0.849);
    color: black;
    text-align: center;
    padding: 8%;

}

/*close button in cart*/
.bagTab .bagBtn .close{
    background-color: rgba(53, 22, 3);
    color: aliceblue;
    text-align: center;
    padding: 8%;
}

/*item images in cart*/
.bagTab .bagList .item img{
    width: 100%;
}

.bagTab .bagList .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

/*quantity of items in cart*/
.bagList .quantity .qty {

    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgba(161, 92, 49, 0.5);
    color: black;
    border-radius: 50%;
    cursor: pointer;
}

.bagList .quantity .minus{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgba(161, 92, 49, 0.5);
    border-color: rgba(161, 92, 49, 0.5);
    color: black;
    border-radius: 50%;
    cursor: pointer; 
}

.bagList .quantity .plus{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgba(161, 92, 49, 0.5);
    border-color: rgba(161, 92, 49, 0.5);
    color: black;
    border-radius: 50%;
    cursor: pointer; 
}


.bagList .quantity:nth-child(2){
    background-color: transparent;
    color: black;
}

.bagList .item:nth-child(even){
    background-color:rgba(161, 92, 49, 0.11) ;
}

.bagTab{
    overflow:auto;
    display: none;
}

/*scroll bar in the cart*/
.bagTab::-webkit-scrollbar{
    width: 0%;
    display: none;
}

.active .bagTab{
    left: calc(100% - 500px);
}


@media screen and (max-width:992px){
    .bagList{
        grid-template-columns: repeat(3,1fr);
    }
}

/*------------------------------------------------------------------*/

/*image slider*/
.slider{
    overflow: hidden;
    height: 285px;
    width: 80%;
    margin-left: 10%;
}

.figures {
    float: left;
    width: 1200px;
}

.slide{
    width: 100%;
    float: left;
}

.figures{
    position: relative;
    width: 500%;
    margin:0px;
    left: 0;
    animation:infinite;
    animation-name: slide;
    animation-duration: 30s;

}   


@keyframes slide{
    

        0%{
            left: 210%;
        }
        15%{
            left: 210%;
        }
        20%{
            left: 110%;
        }
        35%{
            left: 110%;
        }
        40%{
            left: 0%;
        }
        55%{
            left: 0%;
        }
        60%{
            left: -109%;
        }
        75%{
            left: -109%;
        }
        80%{
            left: -215%;
        }
        95%{
            left: -215%;
        }
        100%{
            left: 210%;
        }
        
    }
     
/*-------------------------------------------------------------*/

/*body container*/
.home {
    justify-content: center;
}

/*promotions*/
.try-it {
    background-color:black;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    justify-content:center;
    margin-left: 25px;
    font-size: medium;
}

.try-it:hover {
    background-color:rgb(70, 27, 0) ;
}

.try-it a{
    color: rgb(255,193,92);
}

.best-seller {
    display: inline-block;
    justify-self: left;
    background-color:rgb(255,193,92) ;
    opacity: 0.75;
    background-size: cover;
    height: 200px;
    width: 400px;
    margin: 15px;
    margin-left: 50px;
    border-radius: 10px;
    color: rgb(53, 22, 3);
    font-size:large;
    line-height: 30px;
}

.best-seller:hover {
    box-shadow: 0px 0px 5px 5px rgb(236, 230, 230);
    padding: 1%;
}

#bs {
    width:200px;
    height: 200px;
    border-radius: 10px;

    display:block;
    float: right;

}

#week-fav {
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 5px;

}

#best-item {
    font-size: large;
    color: black;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.deals {
    display: inline-block;
    justify-self:right;
    background-color:rgb(255,193,92) ;
    opacity: 0.75;
    background-size: cover;
    height: 200px;
    width: 400px;
    margin: 15px;
    margin-left: 50px;
    border-radius: 10px;
    color: rgb(53, 22, 3) ;
    font-size:large;
    line-height: 30px;
}

.deals:hover {
    box-shadow: 0px 0px 5px 5px rgb(236, 230, 230);
    padding:1% ;
}

#pro {
    width:200px;
    height: 200px;
    border-radius: 10px;
    display:block;
    float: right;
}

#combo-deal {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#combo-items {
    margin-top: 5px;
    font-size: large;
    color: black;
    margin-left: 20px;
    margin-bottom: 5px;
}
/*-----------------------------------------------------------------------------*/

/*footer*/

#mail a:link {
    color: rgb(255,193,92);
}

a:link{
    color: rgb(255,193,92);
}

table,th,td {
    color:rgb(175,100,53);
    text-align: center;
    background-color: rgb(53, 22, 3);
}

table {
    padding: 1px;
    width:100%;
}

th,td {
    border-style: none;
    color: rgb(255,193,92);
}

.social {
    font-size:x-large;
    background-color:rgb(53, 22, 3);
    border:none;
    color:rgb(255,193,92);
}

.social a{
    color: rgb(255,193,92);
}