body {
    background-color: black;
}

.topnav {
    text-align: right ;
    float:right;
    display: flex;
}



.icons {
    font-size: larger;
    background-color: rgba(53, 22, 3,0.5);
    border:none;
    color:rgb(255, 193, 92);
}


/* Search Bar Styles */
.search-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 15px;
    width: 250px;
    height: 20px;
}

#searchInput {
    background-color:rgb(255, 193, 92);
    padding: 5px 15px;
    padding-right: 35px;
    border: 1px solid rgb(255, 193, 92);
    border-radius: 25px;
    font-size: 14px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

#searchInput:focus {
    outline: none;
    border-color: #c4a582;
    box-shadow: 0 0 5px rgba(238, 137, 22, 0.5);
}

#searchButton {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

#searchButton img {
    width: 18px;
    height: 18px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

#searchButton:hover img {
    opacity: 1;
}

.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    background: white;
    border: 1px solid white;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1000;
    display: none;
}

.search-result-item {
    padding: 12px 15px;
    cursor: pointer;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    transition: background-color 0.2s;
}

.search-result-item:hover {
    background-color: white;
}

.search-result-item img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-right: 12px;
    object-fit: cover;
}

.search-result-item .info {
    flex: 1;
}

.search-result-item .name {
    font-weight: 500;
    color: #333;
    margin-bottom: 3px;
}

.search-result-item .price {
    color: #c4a582;
    font-weight: 600;
}

.no-results {
    padding: 15px;
    text-align: center;
    color: #c2a62b;
}

/* Highlight animation */
@keyframes highlight {
    0% { background-color: rgba(228, 197, 161, 0.514); }
    50% { background-color: rgba(196, 144, 84, 0.712); }
    100% { background-color: rgba(253, 168, 70, 0.644); }
}

.highlight {
    animation: highlight-pulse 2s ease-in-out;
    outline: 3px  rgb(255, 193, 92);
    box-shadow: 0 8px 16px rgb(255, 193, 92);
    outline-offset: 5px;
    border-radius: 8px;
    position: relative;
}

#logo {
    width: 82px;
    height: 82px;
    display: block;
    clip-path: circle(50%);
    justify-content:left;
    margin:15px;
}


.btn {
    background-color:black;
    border:none;
    color:rgb(255, 193, 92);
    font-size: larger; 
    cursor: pointer;
}  


.mybag{
    position: relative;
}

span{
    display: flex;
    width: 20px;
    height: 20px;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: rgb(255, 193, 92);
    border-radius: 50%;
    position: absolute;
    top: 5%;
    right: 6%;
    border-color: rgb(255, 193, 92) ;
    border: 1px solid;
}

nav {
    margin-top: -60px;
    margin-bottom: -15px;
    margin-left: 100px;
    margin-right: 20px;
    background-color: rgba(53, 22, 3,0.5);
}


.categories:hover  {
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px  rgba(175, 119, 82, 0.925);
    cursor: pointer;
    color:black;
    
}



li {
    display:inline-block;
    text-align: center;
    padding:5px 70px 3px;
}

li a {
    color:rgb(255, 193, 92);
    text-decoration:solid;
}



#name {
    color:rgb(255,165,109);
    font-size:xx-large;
    font-family:'Times New Roman', Times, serif;
    padding-left: 0px;
}



.dropdown {
    position:relative;
    display: inline-block;
}

.dropdown-content{
    display:none;
    position:absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px white;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(175, 119, 82, 0.925);
}

.dropdown:hover .dropdown-content {
    display: block;
}



.more {
    position: relative;
    display: inline-block;
}

.more-dropdown{
    display:none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px white;
    z-index: 1;
    right: 10%;
}

.more-dropdown a {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.more-dropdown a:hover {
    background-color: rgba(175, 119, 82, 0.925);
}

.more:hover .more-dropdown {
    display: block;
}


.title{
    color: rgba(175, 119, 82, 0.925);
    font-size: 80px;
    text-align: center;
    margin: 20px;
    filter: drop-shadow(0 0px 20px rgba(161, 92, 49, 0.849));
    
}

.filterButtons{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.filterButtons button{
    padding: 10px 20px;
    font-size: 18px;
    background-color:  black;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(161, 92, 49);
}

button.active{
    background-color: rgba(161, 92, 49);
    color: black;
}

/*cart*/

.addBag{
    background-color: rgb(216, 194, 147);
    color: black;
    font-weight: 900;
    font-family: 'Poppins';
    font-weight: bolder;
    width: 80%;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    bottom: 0%;
}

.h1{
    color: aliceblue;
}

.bagTab{
    display: none;
}

.bagTab .showBag{
    display: block;
}

.bagTab{
    float: right;
    margin-top: 8.5%;
    width: 400px;
    background-color: aliceblue;
    position: fixed;
    top: 0%;
    bottom: 0%;
    right: -400px;
    grid-template-rows: 70px 1fr 70px;
    transition: 1s;
    overflow: auto;
}   
body.showBag .bagTab{
    top: 0%;
    bottom: 0%;
    right: 0%;
}

body.showBag .container{
    transform:translateX(-250px);
}

#foods{
    width: 100%;
    filter: drop-shadow(0 30px 20px rgba(161, 92, 49, 0.849));
}

#foods{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
    color: white;
    font-family: "Poppins";
}

#item{
    padding: 20px;
    border-radius: 20px;
    color: white;
    font-family: "Poppins";
}

#h2{
    color: white;
    font-weight: 100;
    font-size: medium;
}

#price{
    letter-spacing: 5px;
    font-size: medium;
}

.bagTab h1{
    color:black;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    font-family: "Poppins";
}

.bagTab .bagBtn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: none;
    font-family: "Poppins";
    font-weight: 500;
    cursor: pointer;
    margin-top: auto;
}



.bagTab .bagBtn .close{
    background-color: rgba(53, 22, 3);
    color: aliceblue;
    text-align: center;
    padding: 8%;
}

.bagTab .bagBtn .checkOut{
    background-color: rgba(161, 92, 49, 0.849);
    color: black;
    text-align: center;
    padding: 8%;

}

.bagTab .bagList .item img{
    width: 100%;
}

.bagTab .bagList .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.bagList .quantity .qty {

    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgba(161, 92, 49, 0.5);
    color: black;
    border-radius: 50%;
    cursor: pointer;
}

.bagList .quantity .minus{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgba(161, 92, 49, 0.5);
    color: black;
    border-radius: 50%;
    cursor: pointer; 
}

.bagList .quantity .plus{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgba(161, 92, 49, 0.5);
    color: black;
    border-radius: 50%;
    cursor: pointer; 
}


.bagList .quantity:nth-child(2){
    background-color: transparent;
    color: black;
}

.bagList .item:nth-child(even){
    background-color:rgba(161, 92, 49, 0.11) ;
}

.bagTab{
    overflow:auto;
    display: none;
}

.bagTab::-webkit-scrollbar{
    width: 0%;
    display: none;
}

.active .bagTab{
    left: calc(100% - 500px);
}


/*footer*/

#mail a {
    color: rgb(255,193,92);
}

a {
    color: rgb(255,193,92);
}

.footer {
    color:rgb(255,193,92);
    text-align: center;
    background-color: rgb(53, 22, 3);
    margin-top: 10%;
    margin-bottom: 15px;
}

table {
    padding: 1px;
    width:100%;
}


th,td {
    border-style: none;

}

.social {
    font-size:x-large;
    background-color:rgb(53, 22, 3);
    border:none;
    color:rgb(255,193,92);
}

.social a{
    color: rgb(255,193,92);
}
