body{
    background-color: rgba(53, 22, 3,1);
}

#logo{
    height:15%;
    width:15%;
    border-radius: 100%;
    margin-left: 40%;
    margin-top: 10px;
    
}

#name{
    color:rgba(53, 22, 3,1);
    font-family:'Times New Roman', Times, serif;
    margin-left: 20%;
    margin-top: 0%;
    margin-bottom: 50px;
}

.back{
    color:black;
    padding: 5px;
    background-color: rgba(231, 207, 191, 0.877);
    border-radius: 5px;
    margin-top: 1%;
}

.back a{
    color: black;
}

.back a:hover{
    padding-top: 8px;
    padding-bottom: 8px;
}

.login{
    margin-left: 37%;
    background-color: white;
    width: 400px;
    border-radius: 10px;
    
}

input{
    width: 80%;
    border-radius: 5px;
    border:2px solid rgba(53, 22, 3,1) ;
    padding: 10px;
    margin-left: 25px;
}

#loginButton{
    width: 80%;
    border-radius: 5px;
    background-color:rgba(53, 22, 3,1) ;
    border:2px solid rgba(53, 22, 3,1) ;
    color: white;
    padding: 10px;
    margin-left: 35px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#loginButton:hover{
    background-color:rgb(78, 37, 12) ;
    border:2px solid rgb(78, 37, 12);
}

#forgotPassword{
    margin-left: 140px;
    color:rgba(53, 22, 3,1)  ;
    margin-bottom: 50px;
}


.signup{
    margin-left: 37%;
    background-color: white;
    width: 400px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
}

#dont_have_account{
    margin-left: 90px;
    color: rgba(53, 22, 3,1);
}

#signup{
    color: rgba(53, 22, 3,1);
}

.loginpage{
    margin-top: 75px;
}